html {
  font-family: serif;
  font-size: 16px;

  color: #333;
  background-color: #fff;
}

#content, img {
  max-width: 40rem;
}

.figure, .aside {
  position: absolute;
  left: 42rem;
}

.figure p, .aside p {
  text-align: left;
  font-size: 90%;
  max-width: 30rem;
}
