* { box-sizing: border-box }

html {
  font-family: 'Alegreya', serif;
  font-size: 16px;

  color: #333;
  background-color: #fff;
}

a {color: hsl(3, 76%, 37%)}
a:visited {color: hsl(3, 66%, 27%)}

.todo, .done { font-weight: bold }
.todo.nilUNSTABLE { color: #cb4b16 }
.todo.nilTRANSLATE { color: #b58900 }

.color.c1 { color: #4ecdc4 }
.color.c2 { color: #ff6b6b }
.color.c3 { color: #c7f464 }

.epigraph {
  font-style: italic;
  font-size: 0.9rem;
  text-align: right;
  margin-left: 5rem;
}

blockquote:before {
	content: "\201C";
	font-size: 3.5rem;
	position: relative;
	height: 0;
	float: left;
	right: 1.3rem;
	top: -1.3rem;
  color: #556270;
}

hr { margin: 2rem auto; width: 3rem }

h5 { font-size: 100%; margin-bottom: 0.5rem; }

pre, code {
  font-family: 'Ubuntu Mono';
}

pre.src {
  padding-top: 8pt;
}

#content, #postamble { width: 35rem }

figure img { max-width: 35rem }
.side-figure { width: 21rem }
.side-figure img { max-width: 21rem }
.full-figure { width: 58rem }
.full-figure img { max-width: 58rem }
figcaption img { max-width: 21rem }

.side-figure, aside {
  position: absolute;
  left: 37rem;
}

.side-figure p, aside p {
  text-align: left;
  font-size: 90%;
  width: 21rem;
}

.full-figure p {
  text-align: left;
}

figure figcaption {
  position: absolute;
  top: 0;
  left: 37rem;
  text-align: left;
  font-size: 90%;
  width: 21rem;
  margin: 0;
}
.side-figure figcaption {
  position: static;
}
.full-figure figcaption {
  position: static;
  margin: 0;
  float: right;
  text-align: left;
  font-size: 90%;
  width: 21rem;
}

figure {
  position: relative;
  margin: 0;
  padding: 0;
}

.figure-number { display: none }
.numbered .figure-number { display: inline }
