* { box-sizing: border-box }

html {
  font-family: 'Charter', serif;
  font-size: 18px;
  line-height: 1.35;

  color: #333;
  background-color: #fff;
}

a {color: hsl(3, 76%, 37%)}
a:visited {color: hsl(3, 66%, 27%)}

#table-of-contents {
  font-family: 'Fira Sans', sans;
}
#table-of-contents a {
  color: #333;
  text-decoration: none;
}
#table-of-contents a:hover {
  text-decoration: underline;
}
#table-of-contents li {
  margin-top: 0.2rem;
}

.todo, .done { font-weight: bold }
.todo.UNWRITTEN { color: #cb4b16 }
.todo.UNREAD { color: #8e1cc9 }
.todo.INPROGRESS { color: #b58900 }

.color.c0 { color: #556270 }
.color.c1 { color: #4ecdc4 }
.color.c2 { color: #ff6b6b }
.color.c3 { color: #c7f464 }

.epig {
  font-style: italic;
  line-height: 1.3;
  text-align: right;
  margin-left: 5rem;
}

.epig i {
  font-style: normal;
}

blockquote {
  font-style: italic;
  line-height: 1.3;
}

blockquote i {
  font-style: normal;
}

.subtitle {
  font-family: 'Fira Sans', sans;
  font-size: 1.25rem;
}

hr { margin: 2rem auto; width: 3rem }

h1, h2, h3, h4, h5 {
  font-family: 'Fira Sans', sans;
}
h5 { font-size: 100%; margin-bottom: 0.5rem; }

pre, code {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: -1px;
}

pre {
  font-size: 16px;
  line-height: 1.2;
}

pre.src {
  padding-top: 8pt;
}

.org-comment, .org-comment-delimiter {
  color: #902c20;
}

li + li {
  margin-top: 1rem;
}

#content, #postamble { width: 35rem }

figure img { max-width: 35rem }
.side-figure { width: 21rem }
.side-figure img { max-width: 21rem }
.full-figure { width: 58rem }
.full-figure img { max-width: 58rem }
figcaption img { max-width: 21rem }

.side-figure, aside {
  position: absolute;
  left: 37rem;
}

.side-figure p, aside p {
  text-align: left;
  font-size: 16px;
  line-height: 1.3;
  width: 21rem;
  margin-top: 0;
}

.full-figure p {
  text-align: left;
}

figure figcaption {
  position: absolute;
  top: 0;
  left: 37rem;
  text-align: left;
  font-size: 16px;
  line-height: 1.3;
  width: 21rem;
  margin: 0;
}
.side-figure figcaption {
  position: static;
}
.full-figure figcaption {
  position: static;
  margin: 0;
  float: right;
  text-align: left;
  font-size: 16px;
  line-height: 1.3;
  width: 21rem;
}
.org-src-name {
  position: absolute;
  left: 37rem;
  font-size: 16px;
  line-height: 1.3;
  width: 21rem;
}

figure {
  position: relative;
  margin: 0;
  padding: 0;
}

.figure-number { display: none }
.numbered .figure-number { display: inline }
